/* Style changes:
	- header: background color;
	- headings (h1 and h2): font color, capital letters;
				(h1): center;
	- section: background color; 
	- links: background color, font color, center;
	- images: hide them
*/
body{
	margin: 1%;
	padding: 1%;
}

header{
	background-color: rgba(200, 236, 182, 0.6);
	background-image: url("../images/flywheel.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 2%;
	display: block;
	height: 20%;
}
nav{
	margin-left: 3%;
	
}

nav a{
	text-decoration: none;
	background-color: rgba(183, 190, 174, 0.6);
	color: rgba(18, 80, 7, 1);
	text-align: center;
	display: inline-block;
	width: 20%;
	font-size: 150%;
	padding-left: 1%;
	padding-top: 1%;
	margin-left: 1%;
	padding-bottom: 1%;
	border-radius: 5px;
}
nav a:hover{
	color: hotpink;
}
.active{
	background: white;
}
h1{
	color: white;
	text-transform: uppercase;
	text-align: center;
	padding-top: 3%;
	font-size: 250%;
}
h2{
	background-color: rgba(210, 124, 28, 1);
	color: white;
	text-transform: uppercase;
	text-align: center;
}
section{
	background-color: rgba(240, 235, 161, 0.6);
	display: inline-block;
	float: right;
	margin: 0 1.5%;
	width: 58%;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 150%;
	
}
aside {
  float: left;
  width: 28%;
  display: inline-block;
  background: rgba(210, 124, 28, 0.8);

}
aside img{
	
	width:80%;
	display:inline-block;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin-top: 3%;
	margin-bottom: 2%;
	
	
}

	
.left{
	padding-left: 5%;

	
}
.right{
	margin-right: 2%;
}
.left, .right{
	margin-top: 1%;
}
@media screen and (max-width: 600px) {
  .left, .right {
    width: 100%;
  }
}
footer{
	clear:both;
}

